top: 0;
    -webkit-animation: ttob .8s 1 forwards;
       -moz-animation: ttob .8s 1 forwards;
       -o-animation: ttob .8s 1 forwards;
          animation: ttob .8s 1 forwards;
    -webkit-animation-delay: .8s;
       -moz-animation-delay: .8s;
         -o-animation-delay: .8s;
            animation-delay: .8s;
  }
  .vl2 {
    top: 0;
    -webkit-animation: ttob .9s 1 forwards;
       -moz-animation: ttob .9s 1 forwards;
       -o-animation: ttob .9s 1 forwards;
          animation: ttob .9s 1 forwards;
    -webkit-animation-delay: .9s;
       -moz-animation-delay: .9s;
         -o-animation-delay: .9s;
            animation-delay: .9s;
  }
  .vl3 {
    top: 0;
    -webkit-animation: ttob 1s 1 forwards;
       -moz-animation: ttob 1s 1 forwards;
       -o-animation: ttob 1s 1 forwards;
          animation: ttob 1s 1 forwards;
    -webkit-animation-delay: 1s;
       -moz-animation-delay: 1s;
         -o-animation-delay: 1s;
            animation-delay: 1s;
  }
  .vl4 {
    top: 0;
    -webkit-animation: ttob 1.1s 1 forwards;
       -moz-animation: ttob 1.1s 1 forwards;
       -o-animation: ttob 1.1s 1 forwards;
          animation: ttob 1.1s 1 forwards;
    -webkit-animation-delay: 1.1s;
       -moz-animation-delay: 1.1s;
         -o-animation-delay: 1.1s;
            animation-delay: 1.1s;
  }
  .vl5 {
    top: 0;
    -webkit-animation: ttob 1.2s 1 forwards;
       -moz-animation: ttob 1.2s 1 forwards;
       -o-animation: ttob 1.2s 1 forwards;
          animation: ttob 1.2s 1 forwards;
    -webkit-animation-delay: 1.2s;
       -moz-animation-delay: 1.2s;
         -o-animation-delay: 1.2s;
            animation-delay: 1.2s;
  }
  .vl6 {
    top: 0;
    -webkit-animation: ttob 1.3s 1 forwards;
       -moz-animation: ttob 1.3s 1 forwards;
       -o-animation: ttob 1.3s 1 forwards;
          animation: ttob 1.3s 1 forwards;
    -webkit-animation-delay: 1.3s;
       -moz-animation-delay: 1.3s;
         -o-animation-delay: 1.3s;
            animation-delay: 1.3s;
  }
  @-webkit-keyframes ttob {
     0% {
       height: 0;
       opacity: 0;
     }
     100% {
       height: 100%;
       opacity: 0.2;
     }
   }
   @-moz-keyframes ttob {
     0% {
       height: 0;
       opacity: 0;
     }
     100% {
       height: 100%;
       opacity: 0.2;
     }
   }
   @-o-keyframes ttob {
     0% {
       height: 0;
       opacity: 0;
     }
     100% {
       height: 100%;
       opacity: 0.2;
     }
   }
   @keyframes ttob {
     0% {
       height: 0;
       opacity: 0;
     }
     100% {
       height: 100%;
       opacity: 0.2;
     }
   }
  



.shows-banner-section .container-fluid{padding-left:0px; padding-right:0px;}
.shows-banner-section .left-dot{background-image:url('images/pattern.png'); width: 200px; height: 200px; top
: 0px; right: -60px;}
.banner-gallery-section .slick-arrow{display:none !important;}
.banner-gallery-section .banner-gallery{list-style: none; padding: 0px; margin: 15px !important;}
.banner-gallery-section .banner-slider{display: flex !important;}
.banner-gallery-section .banner-gallery .gallery-item { border-radius: 10px; background-size: 100%; backgrou
nd-repeat: no-repeat; }
.banner-gallery-section .banner-slider .banner-gallery:first-child, .banner-gallery-section .banner-slider .
banner-gallery:nth-child(3){ padding-top: 40px;}
.banner-gallery-section .banner-slider .banner-gallery:first-child .gallery-item, .banner-gallery-section .b
anner-slider .banner-gallery:nth-child(4) .gallery-item, .banner-gallery-section .banner-slider .banner-gall
ery:nth-child(2) .gallery-item:nth-child(2){ padding: 185px 150px; background-position: center;}
.banner-gallery-section .banner-slider .banner-gallery:nth-child(2) .gallery-item:first-child, .banner-galle
ry-section .banner-slider .banner-gallery:nth-child(3) .gallery-item:first-child, .banner-gallery-section .b
anner-slider .banner-gallery:nth-child(3) .gallery-item:nth-child(2){ padding: 100px 150px; margin-bottom: 3
0px; background-position: top;}
.banner-gallery-section .slick-list{padding: 0px 63px !important;}



.plus {
    content: '';
    background: url(../images/portfolio/pentathlon/plus.png);
    display: block;
    width: 30px;
    height: 30px;
    background-size: 70%;
    background-repeat: no-repeat;
    margin: 0 auto;
    animation: floattopbottom 5s ease-in-out infinite;
}

.images-section.pentathlon .bottom-plus.plus {
    bottom: 0px;
    position: relative;
    
}
.images-section.pentathlon .left-plus.plus {
    top: 36%;
    left:50px;
    position: absolute;
    
}
.pentathlon-video-section .bottom-plus.plus {
    bottom: -104px;
    position: relative;
}

.images-section.pentathlon.section8 .row {
    padding-top: 0px;
    position: relative;
}
.images-section.pentathlon.section8 {
    padding-top: 0px;
    padding-bottom: 0px;
}
.images-section.pentathlon.section8 .bottom-plus{
    
}
.images-section.pentathlon.section9 .circle-img:before{
    content:"We believe in the potential of technology";
    font-size: 24px;
    color: #fff;
}
.images-section.pentathlon.section9 .circle-img{
    background: url(../images/portfolio/pentathlon/circle.svg);
    width: 400px;
    height: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 99;
    top: 0;
    left: -102px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 108px;
}
[data-aos='rotate-round'] {
    transform: rotate(280deg);
    transition-property: transform;
}
/*  Animation ends here */
[data-aos='rotate-round'].aos-animate {
    transform: rotate(0deg);
}
@keyframes mymove {
  50% {transform: rotate(0deg);}
  0% {transform: rotate(-45deg);}
}

.images-section.pentathlon.section8 .topright-plus.plus {
    left: 0px;
    position: relative;
    margin: 0px;
    top: 100px;
}
.webimages-section.section5{
    padding-top: 0px !important;
}
.images-section.pentathlon.section4{
    padding-bottom: 250px !important;
}
.images-section.pentathlon.section4 .orange-shape {
    background: url(../images/portfolio/pentathlon/orange-shape.png);
    display: block;
    width: 50px;
    height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 99;
    left: -26px;
    top: 18%;
   
    animation: floatleft1 8s ease-in-out infinite;
}
@keyframes floatleft1 {
        0% {
                transform: translatex(0px);
                 rotate: 30deg;
        }
        50% {
                transform: translatex(-40px);
                 rotate: 50deg;
        }
        100% {
                transform: translatex(0px);
                 rotate: 30deg;
        }
}
.images-section.pentathlon.section4 .square-shape {
    background: url(../images/portfolio/pentathlon/shape3.svg);
    display: none;
    width: 130px;
    height: 130px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 99;
    bottom: 8%;
    left: -23px;
    animation: rotate 6s infinite;
    display: block;
   
}


.images-section.pentathlon.section4 .dot-shape{
    background: url(../images/portfolio/pentathlon/dot-1.svg);
    width: 130px;
    height: 130px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 99;
    top: 47%;
    right: -46px;
    display: block;
}
.pentathlon-video-section, .images-section.pentathlon {
    position: relative;
}
.images-section.pentathlon.section7 .dot-shape{
    background: url(../images/portfolio/pentathlon/dot-1.svg);
    width: 130px;
    height: 130px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 99;
    bottom: 1%;
    left: -31px;
    display: block;
}
#mySVG {
    width: 100px;
    position: fixed;
    top: 0%;
    width: 400px;
    height: 210px;
    margin-left: -50px;
    height: 200px;
}
  .draw-line {
    overflow: hidden;
    position: relative;
    justify-content: center;
    display: flex;
}
.images-section.pentathlon.section7 {
    position: relative;
    padding-bottom: 150px;
}
.images-section.pentathlon.section7 .row{
    display: block;
}
/*.clearfix {*/
/*  overflow: auto;*/
/*}*/
/*.clearfix::after {*/
/*  content: "";*/
/*  clear: both;*/
/*  display: table;*/
/*}*/
.pentathlonline{
    background: #191919;
    position: relative;
    height: 200px;
    overflow: hidden;
}
.vertical {
    position: absolute;
    top: 0%;
    left: 50%;
    height: 100px;
    z-index: 2;
    color: black;
    border-right: 2px solid #fff;
    background-attachment: fixed;
}

@keyframes rotate {
  0% {transform: rotate(0deg) }
  100% {transform: translatex(200px) translatey(220px) rotate(45deg) ;}
}
@keyframes rotate2 {
  0% {transform: rotate(0deg) }
  100% {transform: translatex(500px) translatey(220px) rotate(45deg) ;}
}

@keyframes floattopbottom {
        0% {
                transform: translatey(0px);
        }
        50% {
                transform: translatey(-40px);
        }
        100% {
                transform: translatey(0px);
        }
}


@keyframes bounceAndRotate {
    0% {
      transform: translateY(10px) rotate(0deg);
    }
    
    20% {
      transform: translateY(-20px);
    }
    
    50% {
        transform: translateY(-40px) rotate(180deg);
    }
    
    60% {
      transform: translateY(-30px) rotate(180deg);
    }
    
    80% {
       transform: translateY(-20px) rotate(180deg);
    }
     
    100% {
      transform: translateY(0px) rotate(180deg);
    }
  }






.tringle-shape{
    background: url(../images/portfolio/pentathlon/shape6.svg);
    display: block;
    width: 130px;
    height: 130px;
    background-size: 100%;
    background-repeat: no-repeat;
    animation: mymovetringle 5s infinite;
    position: absolute;
    right: -48px;
    rotate: 328deg;
    z-index: 9;
}

@keyframes mymovetringle {
  50% {transform: rotate(45deg);}
}

.pentathlon.section9 {
    padding-top: 400px;
    padding-bottom: 100px;
    margin-top: -64px;
    background: transparent;

}

.pentathlon.section9 .animation-row {
    top: 420px;
}
.pentathlon.section9 .dot-shape {
    background: url(../images/portfolio/pentathlon/dot-1.svg);
    width: 130px;
    height: 130px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 99;
    top: 87%;
    right: -38px;
    display: block;
}

.halfcircle {
    background: url(../images/portfolio/pentathlon/shape2.svg);
    display: block;
    width: 130px;
    height: 130px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    bottom: 5%;
    animation: mymove 5s infinite;
}


.moobservability {
    background: #1EBD53 !important;
}
.moobservability.section2 {
    background: #005ad0 !important;
}
.images-section{
    padding-top: 0px;
    padding-bottom: 30px;
}

.images-section.moobservability .row {
    padding-top: 0px;
}
.images-section.moobservability.section4 {
    padding-bottom: 60px;
}
.images-section.moobservability.section6 {
    padding-top: 30px;
    padding-bottom: 150px;
}
#moobservability-slider img {
    width: 100%;
    max-width: 1680px;
}
#moobservability-slider, #moobservability-slider .item.carousel-card {
    width: 100%;
}
.images-section.moobservability.section8 {
    padding-top: 150px;
    padding-bottom: 150px;
}
.images-section.moobservability.section9 {
    padding-bottom: 0px;
}
.project-description-section.moobservability.section3 {
    padding-top: 0px;
}




.pentathlon-video-section {
    padding-top: 68px !important;
}

.triangle-b{
   display:flex; width:60px; flex-wrap:wrap;
   position: absolute;
   top: -150px;
   left: 120px;
}
.triangle {
  width: 50px;
  height: 25px;
  border-top: solid 50px #f26522;
  border-left: solid 25px transparent;
  border-right: solid 25px transparent;
  
}
.triangle, .triangle:before, .triangle:after {
  box-sizing: border-box;
}
.triangle-0 {
    animation: bounce 1s 1s infinite alternate steps(11, end);
}
.triangle-1 {
   animation: bounce 1s 1.2s infinite alternate steps(11, end);
   z-index:9;
}
.triangle-2 {
   animation: bounce 1s 1.4s infinite alternate steps(11, end);
   z-index:99;
}


@keyframes bounce {
  0% {
    transform: translateY(0px);
    border-top: solid 50px #f26522;
  }
  50% {
    transform: translateY(15px);
    border-top: solid 50px #fff;
  }
  70% {
    border-top: solid 50px #b5572a;
  }
  100% {
    transform: translateY(0px);
    border-top: solid 50px #f26522;
  }
  
}

.graybg{
    background: #191919;
}
.images-section {
    position: relative;
    overflow-x: hidden;
}


.applause-carousel .item.carousel-card img {
    height: 780px !important;
}
.images-section3.applause1.applause {
    padding-top: 250px;
}
.images-section3.applause1.applause video {
    border-radius: 31px;
}
.images-section2.applause2 {
    padding: 0px !important;
}

@media (max-width: 1024px) {
 .banner-section.applause .left-dot {
    width: 250px;
    height: 250px;
    top: -52px;
 }
 .images-section.pentathlon.section4 .square-shape {
    bottom: 9.6%;
}
.images-section.pentathlon.section9 .circle-img {
    width: 300px;
    height: 300px;
    padding: 61px;
    top: 37px;
    left: -55px;
}

.pentathlon.section9 {
    padding-top: 350px;
}

.pentathlon.section9 .animation-row {
    top: 350px;
}

.pentathlon.section9 .dot-shape {
    top: 93%;
}
    
}



.hero-section.portfolio-section {
    padding-bottom: 110px;
}


.dcade .project-description-section h4.project-title {
    margin-bottom: 0px;
}
.image-content-section h4.project-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.image-content-section .image {
    text-align: center;
    padding: 30px 30px 0px;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
}
.image-content-section .image video.video-player {
    margin-bottom: -8px;
    height: 560px;
}
.image-content-section .image-content .image{
    background-color: #F0EBFF;
}
.image-content-section .image-content .content{
    padding-left: 150px;
}
.image-content-section .content-image .image{
    background-color: #E1F7FA;
}
.image-content-section .content-image .content{
    padding-right: 150px;
}

.image-content-section.image-content-section2  .image-content .image{
    background-color: #DEE8FA;
}

.image-content-section.image-content-section2  .content-image .image{
    background-color: #E0F8EF;
}
.dcade .project-hero-unit.business {
    background-color: #2770EF;
}




.dcade .project-card-slider .item.carousel-card img {
    width: 100%;
}
.footer-section .social-icons.float-lg-right img {
    width: auto !important;
}

.pt-30{
    padding-top:30px;
}
.pt-20{
    padding-top:20px;
}
.pb-20{
    padding-bottom:20px;
}

.image-content-section.businessm video.video-player {
    height: auto;
    width: 100%;
}
.image-content-section.businessm  .image {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 50px;
    position: relative;
    overflow: hidden;
}


@media (max-width: 768px) {
  .images-section3.applause1 .left-dot {
    width: 150px;
    height: 150px;
    background-size: 100%;
    z-index: -1;
}
.banner-section.applause .left-dot {
    width: 200px;
    height: 200px;
    top: -52px;
    left: -100px;
}
.home-slider {
    width: 50%;
}
.images-section3.applause1.applause {
    padding-top: 150px;
}

.banner-gallery-section .banner-slider .banner-gallery:nth-child(2) .gallery-item:first-child, .banner-galle
ry-section .banner-slider .banner-gallery:nth-child(3) .gallery-item:first-child, .banner-gallery-section .b
anner-slider .banner-gallery:nth-child(3) .gallery-item:nth-child(2) {
    padding: 80px 130px;
}

.banner-gallery-section .banner-slider .banner-gallery:first-child .gallery-item, .banner-gallery-section .b
anner-slider .banner-gallery:nth-child(4) .gallery-item, .banner-gallery-section .banner-slider .banner-gall
ery:nth-child(2) .gallery-item:nth-child(2) {
    padding: 150px 130px;
}
.banner-section.applause h1 {
    font-size: 60px;
    line-height: 54px;
}

.banner-section.applause p {
    padding-right: 0px;
    font-size: 18px;
    margin-top: 20px !important;
}

.banner-section.applause {
    padding-bottom: 100px;
}
.applause-carousel .item.carousel-card img {
    max-height: 100% !important;
    height: 100% !important;
    width: 100% !important;
}
.project-description-section.moobservability.section3 {
    padding-top: 50px;
}
.images-section.pentathlon.section4 .orange-shape {
    width: 39px;
    height: 177px;
    left: -26px;
}

.images-section.pentathlon .left-plus.plus {
    left: 18px;
}

.images-section.pentathlon.section4 .dot-shape {
    width: 93px;
}

.images-section.pentathlon .bottom-plus.plus {
    bottom: -26px;
}
.images-section.pentathlon.section4 {
    padding-bottom: 200px !important;
}
.images-section.pentathlon.section4 .square-shape {
    width: 100px;
    height: 100px;
    bottom: 12.8%;
}

.images-section.pentathlon.section7 .row {
    padding-top: 0px;
}

section.pentathlon-video-section {
    padding-bottom: 100px;
}

.images-section.pentathlon.section7 .dot-shape {
    width: 110px;
    height: 110px;
    bottom: 0px;
}

.images-section.pentathlon.section7 {
    padding-bottom: 100px;
}

.tringle-shape {
    width: 100px;
    height: 100px;
    bottom: 18px;
}

.images-section.pentathlon.section9 .circle-img {
    width: 230px;
    height: 230px;
    padding: 40px;
    top: 44px;
    left: -37px;
}

.images-section.pentathlon.section9 .circle-img:before {
    font-size: 18px;
}

.pentathlon.section9 {
    padding-top: 270px;
}

.pentathlon.section9 .animation-row {
    top: 274px;
}
.halfcircle {
    width: 100px;
    height: 100px;
}
   .hero-section.portfolio-section {
    padding-bottom: 60px;
}
.footer-section .social-icons, .footer-section .social-icons a {
    justify-content: center;
}applause
.image-content-section .row .col-lg-6.col-12 {
    width: 100% !important;
    max-width: 49%;
}

.image-content-section .image-content .content {
    padding-left: 50px;
}

.image-content-section .content-image .content {
    padding-right: 50px;
}

.image-section .row .col-lg-6.col-12 {
    width: 100%;
    max-width: 49%;
}

.image-section {
    padding-top: 0px;
}

}
@media (max-width: 767px) {
    img.adp-icon {
        width: auto !important;
    }
.images-section.applause .row {
    padding-left: 10px;
    padding-right: 10px;
}

.images-section3.applause1.applause video {
    border-radius: 9px;
}

.home-gallery-section {
    padding-top: 40px;
}

.home-slider2 {
    padding-top: 0px !important;
}
.images-section.moobservability.section6 {
    padding-top: 0px;
    padding-bottom: 80px;
}

.images-section.moobservability.section8 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.images-section.pentathlon.section4 .square-shape {
    display: none;
}

.images-section.pentathlon.section4 {
    padding-bottom: 60px !important;
}

.triangle-b {
    left: 20px;
    top: -100px;
}


.pentathlon-video-section {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px !important;
}


.pentathlon-video-section .bottom-plus.plus {
    bottom: -50px;
}

.images-section.pentathlon.section8 .topright-plus.plus {
    top: 50px;
    left: 20px;
}

.pentathlon.section9 .animation-row {
    display: none;
}

.images-section.pentathlon.section9 .circle-img {
    width: 200px;
    height: 200px;
    top: 70px;
    padding: 36px;
    left: -28px;
}

.images-section.pentathlon.section9 .circle-img:before {
    font-size: 16px;
}

.pentathlon.section9 {
    padding-top: 200px;
}

.pentathlon.section9 .dot-shape {
    top: 87%;
    width: 100px;
    height: 100px;
}
.images-section.pentathlon.section4 .orange-shape {
    top: 36%;
}
.hl1 {
    top: 20px;
}

.hl2 {
    top: 45px;
}

.hl3 {
    top: 70px;
}

.hl4 {
    top: 95px;
}

.hl5 {
    top: 120px;
}

.hl6 {
    top: 145px;
}

.horizontal-lines, .vertical-lines {
    height: 170px;
    width: 145px;
}

.vl2 {
    left: 45px;
}

.vl1 {
    left: 20px;
}

.vl3 {
    left: 70px;
}

.vl4 {
    left: 95px;
}

.vl5 {
    left: 120px;
}
.images-section.pentathlon.section4 .row {
    padding-top: 50px;
}
.pentathlon-video-section .animation-row {
    top: -113px;
}
.footer-section .social-icons, .footer-section .social-icons a {
    justify-content: center;
}

.image-content-section .row .col-lg-6.col-12 {
    max-width: 100%;
}

.image-content-section .content {
    padding: 30px 20px 0px !important;
}

.image-content-section .content-image {
    flex-direction: column-reverse;
}
.portfolio-section p.hero-description.sm br {
    display: none;
}
.image-content-section.businessm .image{
    padding: 50px 20px 0px !important;
}

}
.footer-section .social-icons.float-lg-right i.fa {
    border-radius: 7px;
    padding: 1px;
    width: 35px;
    height: 35px;
}
.footer-section .social-icons.float-lg-right i.fa:before {
    font-size: 23px;
}%


